<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </symbol>
        <symbol id="circle-half" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
        </symbol>
        <symbol id="moon-stars-fill" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
        </symbol>
        <symbol id="sun-fill" viewBox="0 0 16 16">
            <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
        </symbol>
    </svg>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
                id="bd-theme"
                type="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                aria-label="Toggle theme (auto)">
            <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
            <span class="visually-hidden" id="bd-theme-text">Menu</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                    Light
                    <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                    Dark
                    <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
                    Auto
                    <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                </button>
            </li>
        </ul>
    </div>
    <!-- Header Menu -->
    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white shadow">
            <div class="container">
                <a class="navbar-brand" href="#">Compurt</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#service">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#planes">Planes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#soporte">Soporte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contac">Contáctenos</a>
                        </li>
{#                        <li class="nav-item p-2">#}
{#                            <a href="/profile" class="btn btn-primary btn-sm">#}
{#                                {{ ux_icon('line-md:facebook', {class: 'w-2 h-2', 'aria-label': 'facebook'}) }}#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item p-2">#}
{#                            <a href="/profile" class="btn btn-info btn-sm">#}
{#                                {{ ux_icon('twemoji:letter-x', {class: 'w-4 h-4', 'aria-label': 'Twitter'}) }}#}
{#                            </a>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- .Header Menu -->
    <main>

        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('images/slide-1.jpg') }}" class="w-100">
                    <div class="container">
                        <div class="carousel-caption text-start box__caption box__caption--dark">
                            <h1>Ejemplo de encabezado 1.</h1>
                            <p class="opacity-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam asperiores consectetur est facere facilis illo incidunt, iste iure libero minus molestias nesciunt omnis quae quo ratione sunt, vel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Comencemos</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/slide-2.jpg') }}" class="w-100" alt="">
                    <div class="container">
                        <div class="carousel-caption box__caption box__caption--dark">
                            <h1>Ejemplo de encabezado 2</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur ducimus fuga nesciunt nisi officia quod reprehenderit. Asperiores, aspernatur aut dolor et inventore iusto minus placeat quam quis quod, soluta?</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Comencemos</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/slide-3.jpg') }}" class="w-100" alt="">
                    <div class="container">
                        <div class="carousel-caption text-end box__caption box__caption--dark">
                            <h1>Ejemplo de encabezado 3.</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque consectetur, deserunt est et impedit in mollitia, nam natus necessitatibus nemo neque nostrum odio perspiciatis provident qui quisquam veritatis vero.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Comencemos</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="section__title" id="service">
                <h2 class="link-underline">Servicios</h2>
                <p>Servicios</p>
            </div>
            <div class="row">
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="200" data-wow-delay="0.5s">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                    <h2 class="fw-normal">Servicio 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam cupiditate, debitis dolorum eveniet fuga iure nihil omnis quis quos repellendus sed sunt temporibus veritatis voluptates! Adipisci dolores obcaecati voluptatum?</p>
                    <p><a class="btn btn-secondary" href="#">Detalle &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="200" data-wow-delay="1s">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                    <h2 class="fw-normal">Servicio 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores dicta dolores eius illo nisi placeat. Illum omnis quidem quo? Consequuntur, esse illum laudantium nemo nesciunt odio officiis saepe veniam?</p>
                    <p><a class="btn btn-secondary" href="#">Detalle &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="200" data-wow-delay="1.5s">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                    <h2 class="fw-normal">Servicio 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi doloribus eaque excepturi iure nostrum odio provident quos ratione sunt temporibus, veritatis voluptatem? Amet at corporis cum maxime minus, non.</p>
                    <p><a class="btn btn-secondary" href="#">Detalle &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Titulo soporte. <span class="text-body-secondary">Subtitulo de soporte</span></h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eos expedita nam porro possimus? Commodi cupiditate deserunt eaque enim, eum illum maxime molestiae necessitatibus obcaecati reiciendis rem similique, veritatis voluptates.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Titulo soporte. <span class="text-body-secondary">Subtitulo soporte.</span></h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto autem consequuntur dignissimos dolor eius error expedita inventore magni maiores molestias nam natus neque optio, porro rem repellat rerum tempora.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">title soporte <span class="text-body-secondary">Nuevo.</span></h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto autem consequuntur dignissimos dolor eius error expedita inventore magni maiores molestias nam natus neque optio, porro rem repellat rerum tempora.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
                </div>
            </div>

            <hr class="featurette-divider">

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="#">Regresar arriba</a></p>
            <p>&copy; 2024 Compañia <b>Compurt</b></p>
        </footer>
    </main>
        {% block body %}{% endblock %}
    <script src="{{ asset('js/wow.js') }}"></script>
    <script>
        new WOW().init();
    </script>
    </body>
</html>
